# Python
__pycache__/
*.pyc
venv/
env/

# Database
database/*.db
*.sqlite

# Uploads
app/static/screenshots/*
!app/static/screenshots/.gitkeep

# Backups
backups/
*.gz

# Environment
.env

# OS
.DS_Store
*.log

# IDE
.vscode/
.idea/
